

@import 'vars';
.site-footer{
    position: relative;
    color:white;
    background-color: $footer-background;
    a{
        padding:1em;
    }
    svg {
        width: 40px;
        height: 40px;
    }
  
}