//define the smallest screens
@media (max-width:39.999em){
		.images{
				.image{
						width:100%;
				}
		}
}

//define the gutters and styles across sizes
.images{
	width:98%;
	margin:0 auto;
	.image{
			margin-bottom:.5em;
			border-radius:3px;
			overflow:hidden;
			img:hover{
			transform:scale(1.02) rotate(-0.2deg);
			transition: transform 500ms;
			}
	}
}

// .images{
// 	#img1{}
// 	#img2{}
// 	#img3{}
// 	#img4{}
// 	#img5{}
// 	#img6{}
// 	#img7{}
// 	#img8{}
// 	#img9{}

// }
