<h2>Site Vars</h2>
<ul id="siteVars">
    <li>site.lang: {{site.lang}}</li>
    <li>site.title: {{site.title}}</li>
    <li>site.company_name: {{site.company_name}}</li>
    <li>site.company_nickname: {{site.company_nickname}}</li>
    <li>site.email: {{site.email}}</li>
    <li>site.description: {{site.description}}</li>
    <li>site.baseurl: {{site.baseurl}}</li>
    <li>site.url: {{site.url}}</li>
    <li>site.github_username: {{site.github_username}}</li>
    <li>site.twitter_username: {{site.twitter_username}}</li>
    <li>site.google_analytics: {{site.google_analytics}}</li>
    <li>site.facebook.app_id: {{site.facebook.app_id}}</li>
    <li>site.facebook.publisher: {{site.facebook.publisher}}</li>
    <li>site.facebook.admins: {{site.facebook.admins}}</li>
    <li>site.facebook.locale: {{site.facebook.locale}}</li>
    <li>{{site.}}</li>
</ul>

<h2>Page Vars</h2>
<ul>
    <li>page.url: {{page.url}}</li>
    <li>page.social_image: {{page.social_image}}   --> {{site.url}}{{page.social_image}} </li>
</ul>
