// drop shadows: https://css-tricks.com/almanac/properties/b/box-shadow/ 
// make effects into partials add groups of effects

.box-shadow{
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}
.one-edge-shadow {
    height: 20px;
    box-shadow: 0 8px 6px -7px rgba(0,0,0,0.4);
  }

  /*==================================================
 * shadow-b1
 * ===============================================*/
.shadow-b1{
            box-shadow: 0 10px 6px -6px #777;
}

/*==================================================
 * shadow-b-inset
 * ===============================================*/
.shadow-b-inset
{
  position: relative;
}
.shadow-b-inset:before, .shadow-b-inset:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.shadow-b-inset:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * shadow-b-l
 * ===============================================*/
.shadow-b-l
{
  position: relative;
}
.shadow-b-l:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

/*==================================================
 * shadow-b-r
 * ===============================================*/
.shadow-b-r
{
  position: relative;
}
.shadow-b-r:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(3deg);
}

/*==================================================
 * shadow-b-lifted
 * ===============================================*/
.shadow-b-lifted
{
  position: relative;
}
.shadow-b-lifted:before, .shadow-b-lifted:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 35px 20px #777;
  transform: rotate(-8deg);
}
.shadow-b-lifted:after
{
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * shadow-b
 * ===============================================*/
.shadow-b
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-b:before, .shadow-b:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.shadow-b:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * shadow-y
 * ===============================================*/
.shadow-y
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-y:before, .shadow-y:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.shadow-y:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * shadow-x
 * ===============================================*/
.shadow-x
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow-x:before, .shadow-x:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}
.shadow-x:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}