// white space
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;


// COLOR

// blue spectrum

// darker
$dark_blue: #026786;
// center
$logo_blue: #0082a8;
// lighter
$light_blue: #05a4d4;

//green spectrum

$light_green: #4cc14c;
$medium_green: rgb(104, 206, 104);
$dark_green: rgb(62, 171, 62);

// grey spectrum

$basic_grey: #e4e4e4;;

// main background color

$background-color:#2e0a09;
$footer-background:#725959;

// navigation colors
$nav-links-color:rgb(238, 238, 238);
$nav-link-color-hover:white;

// responsive
// nav breakpoint
$nav-toggle:504px;

